@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-monsterrat);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}
